.swiper-container {
  max-width: 0.68814rem;
  height: 0.34407rem;
  border-radius: 0.00439rem;
  box-shadow: 0 0.00146rem 0.00366rem black; }

.swiper-slide {
  text-align: center;
  font-size: 0.01318rem;
  /* background: #fff; */
  display: flex;
  justify-content: center;
  align-items: center; }

.swiper-slide img{
  width: 100%; }
